@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Roboto&display=swap');

.nav-tabs > li > a, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    color: #28ace2;
}

h2, h4 {
  color: white;
  background-color: #28ace2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px !important;
  margin-top: 25px !important;
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
}

h3 {
  color: #28ace2;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

h5{
    font-family: 'Roboto', sans-serif !important;
    color: #B5B5C3 !important;
    padding: 10px;
}

label{
    font-family: 'Roboto', sans-serif !important;
    color: #181c32 !important
}

.body{
    font-family: 'Roboto', sans-serif !important;
    color: #181c32 !important
}

.well {
  padding-top: 0px;
  background-color: white !important;
  border-radius: 10px;
}

form.well {
  padding-top: 19px;
}

.form-group{
    padding: 10px !important;
}
/*
.timevis {
  box-shadow: 2px 2px 3px #444;
}
*/
.container-fluid{
    background-color: #E4E6EF;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.selectize-control.multi .selectize-input.has-items{
    border-radius: 10px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{
    border-radius: 0px 10px 10px 0px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    border-radius: 10px 0px 0px 10px;
}

.selectize-control.multi .selectize-input > div{
    background-color: #28ace2 !important;
    color: #fff !important;
}

.vis-timeline{
    border-radius: 10px;
}

.timevis.html-widget{
    padding: 10px;
}

.timevis.html-widget .zoom-menu{
    right: 20px !important;
    top: 20px !important;
}

#TimelineVis .Sta .vis-item {
  border-color: #E1F0FF;  
  background-color: #E1F0FF;
  border-width: 3px;
  color: #3699FF;
  border-radius: 10px;
}

.vis-time-axis .vis-text{
    font-family: 'Roboto', sans-serif !important;
    color: #181c32 !important
}

.vis-foreground .vis-group{
    border-bottom: none !important;
}

#TimelineVis .Int .vis-item {
  border-color: #C9F7F5;
  background-color: #C9F7F5;
  border-width: 3px;  
  color: #1BC5BD; 
  border-radius: 10px;
}

#TimelineVis .Nob .vis-item {
  border-color: #FFF4DE;  
  background-color: #FFF4DE;
  border-width: 3px; 
  color: #FFA800; 
  border-radius: 10px;
}

#TimelineVis .Dir .vis-item {
  border-color: #EEE5FF;  
  background-color: #EEE5FF;
  border-width: 3px; 
  color: #8950FC; 
  border-radius: 10px;
}