.nav-tabs > li > a, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    color: #00aaff;
}

h2, h4 {
  color: #00aaff;
}

h3 {
  color: #00aaff;
}

.well {
  padding-top: 0px;
}

form.well {
  padding-top: 19px;
}

.timevis {
  box-shadow: 2px 2px 3px #444;
}

#TimelineVis .Sta .vis-item {
  #border-color: #1dade5;  
  background-color: #1dade5;
  border-width: 2px;
  color: #fff; 
}

#TimelineVis .Int .vis-item {
  #border-color: #158CBA;
  background-color: #158CBA;
  border-width: 2px;  
  color: #fff; 
}

#TimelineVis .Nob .vis-item {
  #border-color: #75CAEB;  
  background-color: #75CAEB;
  border-width: 2px; 
  color: #fff; 
}

#TimelineVis .Dir .vis-item {
  #border-color: #5D3FD3;  
  background-color: #5D3FD3;
  border-width: 2px; 
  color: #fff; 
}